@{
    ViewData["Title"] = "Create Artist";
}


<div class="dl-horizontal">

    <h1 class="display-6">Please Enter a new Artist</h1>

    <form method="POST" asp-controller="Home" asp-action="CreateArtist">
        <label for="Name">Artist Name</label>
        <br>
        <input type="text" name="Name" id="Name" required>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>


</div>
